.title {
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  border: 5px solid black;
  text-align: center;
}

.map{
    height: 500px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.125);
}

.blank {
  margin-top: 15px;
}

.static {
  max-height: 300px;
}